<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb348486917058959</string>
				<string>com.googleusercontent.apps.743140781383-uv2olpevb78ctvsapvgn1nkd7ia7kgsr</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>348486917058959</string>
	<key>FacebookClientToken</key>
	<string>98f3b926ed08b0c57e7448bbb59ddf3e</string>
	<key>FacebookDisplayName</key>
	<string>tasker</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchImageFile</key>
	<string>running man</string>
</dict>
</plist>
